@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;

}
body{

	background-image:linear-gradient(rgba(129, 236, 236,0.6),rgba(223, 230, 233,0.4)), url(./img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.logo{
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	line-height: 70px;
	letter-spacing: 15px;
	margin-left: 150px;
	margin-top: 10px; 
	color: white;
}
.menu{
	float: right;
	display: inline-block;
}
.control{
	display: inline-block;
	margin-right: 20px;
	margin-top: 30px;
}
.check{
	font-size: 30px;
	color: white;
	float: right;
	margin-right: 40px;
	margin-top:28px;
	cursor: pointer;
	display: none;
}
#bars{
	display: none;
}
a{
	color: white;
	font-size: 18px;
	padding: 7px 13px;
	border-radius: 4px;
}
a:active,a:hover{
	background-color: rgba(129, 236, 236,0.9);
}
.form input{
	display: block;
	margin: 50px auto;
}
#username, #password{
	width: 170px;
	height: 40px;
	border: 2px #55efc4 solid;
	border-radius: 20px;
	background: none;
	text-align: center;
	color: white;
}
#username:focus, #password:focus{
	border: 2px #0984e3 solid;
	width: 300px;
	transition: 0.5s;
}
#submit{
	width: 100px;
	height: 40px;
	border-radius: 20px;
	border: 2px #0984e3 solid;
	background-color: inherit;
	box-shadow: 3px 3px 3px;
	cursor: pointer;
}
#submit:hover{
	border-color: rgba(184, 233, 148,0.8);
	background-color: rgba(120, 224, 143,0.4);
	width: 150px;
	transition: 0.35s;
}
#submit:active{
	box-shadow: 0px 0px 0px;
}
.main{
	width: 100vw;
	height: 85vh;
	padding-top: 60px;
}
.form{
	min-width:400px; 
	width: 25vw;
	min-height: 450px;	
	margin: 0px auto;
	color: #6c5ce7;
	font-family: monospace;
	font-size: 25px;
	background-color: rgba(220, 221, 225,0.4);
	border-radius: 5px;
}
h3{
	text-align: center;
}
@media (max-width: 969px){
	.check{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background-color: #2c3e50;
		top: 80px;
		text-align: center;
		left: -100%;
		transition: all 0.35s;
	}
	.control{
		display: block;
	}
	#bars:checked ~ ul{
		left: 0;
	}
}